body {
    margin: 0;
}

#cursors-container {
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.cursor {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}