body {
    margin: 0;
}

#moblur-ext_cursors-container {
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.moblur-ext_cursor {
    filter: none !important;
    image-rendering: pixelated;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}