body {
    font-family: Krub;
    color: black;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(240, 240, 240);
}
img {
    image-rendering: pixelated;
    margin-bottom: 15px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
    width: 500px;
    padding-bottom: 40px;
    margin-bottom: 100px;
}
h1 {
    font-weight: 600;
    font-size: 40px;
}
div.vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 350px;
    border-bottom: solid 1px rgb(180, 180, 180);
}
.input {
    margin-top: 10px;
    margin-bottom: 10px;
}
.inputBox {
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-color: rgb(126, 126, 126);
    border-width: 1px;
}
.reset {
    font-size: 12px;
    border-style: none;
    background-color: rgb(221, 94, 94);
    color: white;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
}
.title {
    margin-bottom: 20px;
}
.save {
    border-style: none;
    font-size: 16px;
    background-color: rgb(94, 221, 122);
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
}
div#testing {
    margin-bottom: 40px;
    width: 500px;
    height: 350px;
    background-color: rgb(24, 24, 24);
    font-family: inherit;
    font-weight: inherit;
    font-size: 14px;
    color: white;
    text-align: center;
}

.moblur-ext_nocursor {
    cursor: none;
}

#moblur-ext_cursors-container {
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.moblur-ext_cursor {
    image-rendering: pixelated;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}